.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  font-size: 16px;
  font-weight: 700;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  z-index: 2;
}

.modal__title {
  margin: 0 0 24px 0;
  font-size: 16px;
  font-weight: 700;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__close {
  background-color: transparent;
  background-image: url("../../assets/close.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 20px;
  right: 28px;
  cursor: pointer;
  z-index: 3;
}
.modal__content {
  max-width: 440px;
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  width: 100%;
  border-radius: 20px;
}

.modal__label {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  display: block;
  border-style: none;
  border-bottom: 1px solid #000;
  padding: 4px 0;
  margin-top: 8px;
}

.modal__legend {
  margin-bottom: 8px;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.modal__label_type_radio {
  margin: 4px 0;
  color: rgba(0, 0, 0, 0.5);
  flex-direction: row;
}

.modal__label_type_radio-selected {
  color: rgba(0, 0, 0, 1);
}

.modal__radio-input {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  accent-color: rgba(0, 0, 0, 0.5);
}

.modal__radio-input:checked {
  accent-color: rgba(0, 0, 0, 1);
}

.modal__footer {
  display: flex;
  align-items: baseline;
  justify-content: start;
  padding: 0;
}

.modal__or-button {
  background-color: transparent;
  border-style: none;
  margin-left: 12px;
  cursor: pointer;
}

.modal__submit {
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  width: 124px;
  height: 36px;
  border-radius: 4px;
  border-style: none;
  margin-top: 32px;
  cursor: pointer;
  transition: background-color 0.2s linear 0;
}

.modal__submit:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
