.toggle-switch {
  margin-left: auto;
  display: flex;
  position: relative;
  cursor: pointer;
}

.toggle-switch__box {
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: 56px;
  height: 28px;
  appearance: none;
  cursor: pointer;
  z-index: 1;
}

.toggle-switch__box:hover {
  border-color: rgba(0, 0, 0, 1);
}

.toggle-switch__slider {
  border-radius: 20px;
  width: 28px;
  height: 28px;
  background-color: #000;
  color: #fff;
  text-align: center;

  position: absolute;
}

.toggle-switch__slider-F {
  left: 28px;
  transition: left 0.2s linear 0s;
}

.toggle-switch__slider-C {
  left: 0;
  transition: left 0.2s linear 0s;
}

.toggle-switch__temp-F {
  position: absolute;
  top: -7px;
  left: 38px;
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

.toggle-switch__temp-C {
  position: absolute;
  top: -7px;
  right: 38px;
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

.toggle-switch__active {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}
