.modal__content_type_image {
  padding: 0;
  overflow: hidden;
  max-width: 498px;
}
.modal__image {
  width: 100%;
  overflow: hidden;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px 32px;
}

.modal__caption,
.modal__weather {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 12px;
}

.modal__delete {
  border-style: none;
  font-size: 20px;
  font-weight: 700;
  color: rgba(255, 77, 0, 1);
  background-color: transparent;
  margin-left: auto;

  cursor: pointer;
}

.modal__delete_hidden {
  display: none;
}
